# Python
__pycache__/
*.pyc
.venv/
venv/

# Data (not needed)
train/
valid/
test/

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
~$*

# Other files 
*.pptx
*.pdf
*.txt
*.docx
*.png
*.jpg
*.jpeg
*.csv
model/M/*.keras
#model/M/*model.onnx
model/S/*.keras
#model/S/*model.onnx

EfficientNetV2/*
src/anomaly.py
src/predict.py
src/train.py
LICENSE
Readme.md
__notebook_source__.ipynb

# Add ignore rules on the remote end
*.log
.env
